<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                      <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <% if user_signed_in? %>
                                Hola <%= current_user.email %>
                                <% else %>
                                Dale registrate o conectate
                                <% end %>
                            </a>
                            <ul>
                                <% if user_signed_in? %>
                                <li><%= button_to 'Cerrar sesión', destroy_user_session_path, class: 'dropdown-item',
method: :delete %></li>
                                <% else %>
                                <li><%= link_to 'Iniciar sesión', new_user_session_path, class: 'dropdown-item'%></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><%= link_to 'Registro', new_user_registration_path, class: 'dropdown-item'%></li>
                                <% end %>
                            </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>
