<div id="<%= dom_id caption %>">
  <p>
    <strong>Photo:</strong>
    <%= caption.photo_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= caption.text %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= caption.comment_id %>
  </p>

</div>
