<table class="table table-dark">
  <thead>
  </thead>
  <tbody>
    <tr id="<%= dom_id caption %>" >
      <td colspan="2" class="table-active">
      <% caption.photos.each do |photo| %>
        <% if photo.image.attached? %>
          <img src="<%= url_for(photo.image)%>" style="width: 30px;" />
        <% end %>
      <% end %>

      </td>
      <td> <%= caption.text %> </td>


    </tr>
  </tbody>
</table>

