<div>
  <%= link_to "Back to captions", captions_path, class: 'btn btn-success'  %>
</div>


<h1>Editing caption</h1>

<%= render "form", caption: @caption %>

<br>

<div>
  <%= link_to "Show this caption", @caption, class: 'btn btn-success'  %> |
</div>
